@font-face { 
font-family: 'Behistun'; 
src: url(Cuneiform.ttf); 
}
h1 {
font-weight: 300px;
}
html {
font-family: 'Archivo Black', sans-serif;
}
.title {
text-align: center;
font-weight: 400, bold;
font-size: 60px;
}
.ffct {
background-color: #151515;
border-radius: .5em;
color: white;
height: 275px;
width: 455px;
text-align: center;
position: relative;
right: 20px;
}
.div-align-right {
overflow: hidden;
width: 450px;
position: relative;
left: 500px;
top: 50px;
text-align: center;
}
.cuneiform {
font-family: 'Behistun';
}
