@font-face { 
font-family: 'Behistun'; 
src: url(Cuneiform.ttf); 
}
html {
font-family: 'Archivo', sans-serif;
color: #62578c;
background-color: #2a1b2e;
}
.title {
text-align: center;
font-weight: 900;
font-size: 60px;
}
.subtitle {
text-align: center;
font-weight: 700;
font-size: 20px;
}
.ffct {
background-color: #b683c3;
border-radius: .5em;
height: 275px;
width: 460px;
text-align: center;
position: relative;
right: 20px;
}
.div-align-right {
overflow: hidden;
width: 450px;
position: relative;
left: 500px;
top: 50px;
text-align: center;
}
.div-align-right-txt {
position: relative;
left: 5px;
}
.cuneiform {
font-family: 'Behistun';
color: #eec8fa;
}
.div-align-center {
    text-align:center;
}
